@model sinav.Models.Db.TarihceModel
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


@foreach (var item in Model.tList)
{
	<div class="tm-container-inner tm-history">
		<div class="row">
			<div class="col-12">
				<div class="tm-history-inner">
					<img src="/Content/img/@item.Resim" alt="Image" class="img-fluid tm-history-img" />
					<div class="tm-history-text">
						<h4 class="tm-history-title">@item.Baslik</h4>
					
						<p>@item.Aciklama</p>
					</div>
				</div>
			</div>
		</div>
	</div>
}
<div class="tm-container-inner tm-featured-image">
	<div class="row">
		<div class="col-12">
			<div class="placeholder-2">
				<div class="parallax-window-2" data-parallax="scroll" data-image-src="/Content/img/about-05.jpg"></div>
			</div>
		</div>
	</div>
</div>
<div class="tm-container-inner tm-featured-image">
	<div class="tm-container-inner tm-features">
		<div class="row">

			@foreach (var item in Model.oList)
			{<div class="col-lg-4">
					<div class="tm-feature">
						<i class="@item.icon"></i>
						<p class="tm-feature-description">@item.Aciklama</p>
						<a href="/Home/Index" class="@item.button">Daha Fazlası</a>
					</div>
				</div>
			}
		</div>

	</div>
</div>
</div>



